---
Language: Cpp
BasedOnStyle: WebKit
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: AfterColon
IndentPPDirectives: BeforeHash
BreakBeforeBraces: Linux
PointerAlignment: Right
ReferenceAlignment: Right
BraceWrapping:
  AfterFunction: false
NamespaceIndentation: None