---
Language: Cpp
BasedOnStyle: Microsoft
SpaceAfterTemplateKeyword: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
#BreakConstructorInitializers: AfterColon
IndentPPDirectives: BeforeHash
BreakBeforeBraces: Linux
#PointerAlignment: Right
#ReferenceAlignment: Right
#BraceWrapping:
#  AfterFunction: false
NamespaceIndentation: All
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
#AllowShortFunctionsOnASingleLine: Inline