[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = git@github.com:MineBill/glfw.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:MineBill/imgui.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:MineBill/spdlog.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:MineBill/glm.git
[submodule "ThirdParty/ImGuiFileDialog"]
	path = ThirdParty/ImGuiFileDialog
	url = git@github.com:MineBill/ImGuiFileDialog.git
